@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p {
    @apply font-poppins;
}

.progress-container {
    position: relative;
    height: 15px;
    background-color: #ffffff;
}

.completed-bar {
    position: absolute;
    height: 100%;
    background-color: #000000;
    border-radius: 999px;
}

.progress-bar {
    position: absolute;
    height: 100%;
    background-color: #000000;
    border-radius: 999px;
}

.black-circle {
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    background-color: #000000; /* Black Circle */
}

.left-right-divider {
    display: flex;
    align-items: center;
    text-align: center;
}

.left-right-divider::before,
.left-right-divider::after {
    min-height: 1px;
    min-width: 100%;
    border-top: 1px solid;
    content: '';
    flex-grow: 1;
    padding-top: 0.5rem;
}

.mobile-menu {
    position: absolute;
    top: 5rem;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: fit-content;
    min-width: 90%;
    max-width: 90%;
    background-color: white;
    border: solid 2px #38b6ff;
    border-radius: 0 0 0.5em 0.5em;
}

@layer components {
    /*
    text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 
    font-medium rounded-lg text-sm px-5 py-2.5 
    me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    */
    .button-light-blue {
        @apply text-white
        bg-v2-ltblue
        text-center
        text-xl
        font-bold
        border-2
        border-v2-ltblue
        hover:bg-v2-drkblue
        hover:border-v2-drkblue
        focus:ring-2
        focus:ring-blue-300 
        font-semibold rounded-lg text-sm px-5 py-4 
        mb-2
        dark:bg-blue-600
        dark:hover:bg-blue-700
        focus:outline-none
        dark:focus:ring-blue-800;
    }

    .button-light-blue-inverse {
        @apply text-v2-ltblue
        bg-white
        text-center
        text-xl
        font-bold
        border-2
        border-v2-ltblue
        hover:bg-v2-ltblue
        hover:text-white
        focus:ring-2
        focus:ring-blue-300 
        font-semibold rounded-lg text-sm px-5 py-4 
        mb-2
        dark:bg-blue-600
        dark:hover:bg-blue-700
        focus:outline-none
        dark:focus:ring-blue-800;
    }

    .button-white-rounded {
        @apply text-primary-3
        text-center
        text-xl
        font-medium
        font-poppins
        bg-primary-2
        border-2
        border-primary-3
        rounded-xl
        focus:outline-none
        hover:bg-accent-3
        focus:ring-4
        focus:ring-accent-3
        px-5
        py-3;
    }

    .button-dark-rounded {
        @apply text-white
        text-center
        text-xl
        font-bold
        font-poppins
        bg-primary-3
        hover:bg-accent-2
        focus:outline-none
        focus:ring-4
        focus:ring-accent-2
        rounded-xl
        pt-1.5
        pb-1.5
        py-1
        me-2
        mb-2;
    }

    @media screen and (min-width: 1280px) {
        :root {
            max-width: 1440px;
            margin: auto;
            --font-size-sm: 0.77rem;
            --font-size-md: 1rem;
            --font-size-lg: 1.3rem;
            --font-size-xl: 1.69rem;
            --font-size-2xl: 2.2rem;
            --font-size-3xl: 2.86rem;
        }
    }
}
